In [12]:
import random
import pandas as pd
import random
from sklearn.cluster import KMeans

In [13]:
user_id = list(range(0,1000))
gender = ['M', 'F']
age = list(range(20,70))
cities_CA = ['Los Angeles', 'San Francisco', 'San Diego', 'Irvine', 'San Jose'] 
cities_WA = ['Seattle', 'Bellevue', 'Kent', 'Issaquah', 'Redmond']
cities = cities_CA + cities_WA
state = ['WA', 'CA']
country = ['USA']
shirt_size_list = range(0,10)
columns_in_df = ['user_id', 'gender', 'age', 'city', 'state', 'country', 
                 'Sweater', 'Dress', 'T_shirt', 'Shirt', 'Tank_top',
                'Jacket', 'Crop_top', 'Suit', 'Vest',  'Size']

In [14]:
data_frame_list = []
for u_id in user_id:
    
    gender = None
    age = None
    city = None
    state = None
    country = 'USA'
    
    Sweater = 0
    Blouse = 0
    T_shirt = 0
    Shirt = 0
    Tank_top = 0
    Jacket = 0
    Crop_top = 0
    Bra = 0
    Vest = 0

    gender_probability = random.random()
    if gender_probability > 0.5:
        gender = 'M'
    else:
        gender = 'F'
    
    age = random.randint(20,69)
    
    state_probability = random.random()
    if state_probability > 0.5:
        state = 'WA'
        city = cities_WA[random.randint(0,4)]
    else:
        state = 'CA'
        city = cities_CA[random.randint(0,4)]
    
    if gender == 'M':
        if age >= 20 and age < 40:
            Sweater = random.randint(0,3)
            Dress = 0
            T_shirt = random.randint(0,8)
            Shirt = random.randint(0,10)
            Tank_top = random.randint(0,3)
            Jacket = random.randint(0,10)
            Crop_top = random.randint(0,1)
            Suit = random.randint(0,10)
            Vest = random.randint(0,3)
        elif age >= 40 and age < 50:
            Sweater = random.randint(0,5)
            Dress = 0
            T_shirt = random.randint(0,3)
            Shirt = random.randint(0,10)
            Tank_top = 0
            Jacket = random.randint(0,10)
            Crop_top = 0
            Suit = random.randint(0,10)
            Vest = random.randint(0,4)
        elif age >= 60 and age <70:
            Sweater = random.randint(0,4)
            Dress = 0
            T_shirt = random.randint(0,1)
            Shirt = random.randint(0,5)
            Tank_top = 0
            Jacket = random.randint(0,2)
            Crop_top = 0
            Suit = random.randint(0,10)
            Vest = random.randint(0,4)
    else :
        if age >= 20 and age < 40:
            Sweater = random.randint(0,3)
            Dress = random.randint(0,10)
            T_shirt = random.randint(0,7)
            Shirt = random.randint(0,10)
            Tank_top = random.randint(0,4)
            Jacket = random.randint(0,10)
            Crop_top = random.randint(0,7)
            Suit = 0
            Vest = 0
        elif age >= 40 and age < 50:
            Sweater = random.randint(0,3)
            Dress = random.randint(0,8)
            T_shirt = random.randint(0,2)
            Shirt = random.randint(0,5)
            Tank_top = random.randint(0,3)
            Jacket = random.randint(0,4)
            Crop_top = 0
            Suit = 0
            Vest = 0
        elif age >= 60 and age <70:
            Sweater = random.randint(0,3)
            Dress = random.randint(0,7)
            T_shirt = 0
            Shirt = random.randint(0,2)
            Tank_top = 0
            Jacket = random.randint(0,2)
            Crop_top = 0
            Suit = 0
            Vest = 0
            
        shirt_size_index = random.randint(0,9)
        shirt_size = shirt_size_list[shirt_size_index]
    
    row_list = [u_id, gender, age, city, state, country, Sweater, Dress,
               T_shirt, Shirt, Tank_top, Jacket, Crop_top, Suit, Vest, shirt_size]

    data_frame_list.append(row_list)

In [15]:
df = pd.DataFrame(data = data_frame_list, columns = columns_in_df)

In [16]:
df

,user_id,gender,age,city,state,country,Sweater,Dress,T_shirt,Shirt,Tank_top,Jacket,Crop_top,Suit,Vest,Size
0,0,F,57,San Jose,CA,USA,0,0,0,0,0,0,0,8,0,9
1,1,F,34,Bellevue,WA,USA,1,9,2,0,3,1,7,0,0,9
2,2,M,39,Seattle,WA,USA,3,0,5,8,2,6,1,9,1,9
3,3,M,48,Seattle,WA,USA,4,0,1,1,0,0,0,1,1,9
4,4,M,55,San Diego,CA,USA,0,0,0,0,0,0,0,1,0,9
5,5,M,67,Redmond,WA,USA,1,0,0,2,0,1,0,9,0,9
6,6,F,64,Issaquah,WA,USA,2,3,0,2,0,1,0,0,0,4
7,7,M,49,Issaquah,WA,USA,5,0,2,7,0,6,0,0,3,4
8,8,F,45,San Jose,CA,USA,2,7,0,2,3,3,0,0,0,9
9,9,F,49,San Francisco,CA,USA,2,0,2,2,3,0,0,0,0,7
10,10,F,55,Kent,WA,USA,0,0,0,0,0,0,0,0,0,5
11,11,M,62,San Diego,CA,USA,2,0,1,4,0,1,0,4,0,5
12,12,M,58,Irvine,CA,USA,0,0,0,0,0,0,0,4,0,5
13,13,M,41,San Francisco,CA,USA,0,0,1,10,0,5,0,9,4,5
14,14,F,23,San Jose,CA,USA,0,0,3,1,1,6,0,0,0,7
15,15,M,44,San Francisco,CA,USA,4,0,3,0,0,5,0,6,0,7
16,16,M,35,San Jose,CA,USA,2,0,3,9,0,10,0,1,2,7
17,17,F,57,Kent,WA,USA,0,0,0,0,0,0,0,1,0,3
18,18,M,42,Seattle,WA,USA,2,0,0,4,0,3,0,10,0,3
19,19,M,52,San Jose,CA,USA,0,0,0,0,0,0,0,10,0,3
20,20,F,56,Los Angeles,CA,USA,0,0,0,0,0,0,0,10,0,2
21,21,M,52,Bellevue,WA,USA,0,0,0,0,0,0,0,10,0,2
22,22,F,38,San Francisco,CA,USA,0,6,5,5,3,7,7,0,0,5
23,23,F,40,San Diego,CA,USA,1,2,0,0,2,3,0,0,0,1
24,24,M,37,Kent,WA,USA,3,0,3,5,0,8,0,10,1,1
25,25,M,69,Kent,WA,USA,1,0,0,4,0,2,0,8,0,1
26,26,F,33,Seattle,WA,USA,0,6,5,6,0,5,1,0,0,7
27,27,M,68,Seattle,WA,USA,4,0,0,0,0,2,0,7,4,7
28,28,M,66,Redmond,WA,USA,2,0,1,2,0,0,0,9,1,7
29,29,M,38,Seattle,WA,USA,2,0,5,7,3,1,1,8,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,970,M,67,Bellevue,WA,USA,3,0,1,2,0,1,0,6,1,7
971,971,M,34,San Francisco,CA,USA,0,0,1,10,1,1,0,1,2,7
972,972,F,57,Bellevue,WA,USA,0,0,0,0,0,0,0,1,0,0
973,973,F,43,Kent,WA,USA,1,6,1,0,2,3,0,0,0,8
974,974,M,22,San Jose,CA,USA,2,0,6,9,2,4,0,5,1,8
975,975,F,67,Issaquah,WA,USA,1,0,0,1,0,2,0,0,0,9
976,976,F,38,Los Angeles,CA,USA,0,1,1,5,3,0,7,0,0,1
977,977,F,57,Irvine,CA,USA,0,1,0,0,0,0,0,0,0,7
978,978,F,48,Redmond,WA,USA,0,5,2,0,0,2,0,0,0,5
979,979,M,68,Irvine,CA,USA,3,0,0,4,0,0,0,4,1,5
980,980,M,45,Bellevue,WA,USA,4,0,0,5,0,4,0,5,2,5
981,981,F,59,Los Angeles,CA,USA,0,0,0,0,0,0,0,5,0,4
982,982,M,51,San Jose,CA,USA,0,0,0,0,0,0,0,5,0,4
983,983,F,33,San Jose,CA,USA,1,7,3,1,0,10,4,0,0,2
984,984,M,52,San Diego,CA,USA,0,7,0,0,0,0,0,0,0,2
985,985,M,30,Seattle,WA,USA,1,0,1,4,3,3,0,5,0,2
986,986,F,66,San Francisco,CA,USA,2,2,0,0,0,1,0,0,0,5
987,987,M,65,San Jose,CA,USA,3,0,0,5,0,2,0,7,2,5
988,988,F,22,Issaquah,WA,USA,2,2,5,4,0,5,4,0,0,9
989,989,M,60,Seattle,WA,USA,4,0,0,5,0,2,0,3,2,9
990,990,M,43,Issaquah,WA,USA,5,0,2,5,0,8,0,8,3,9
991,991,F,43,Redmond,WA,USA,0,7,0,5,2,2,0,0,0,6
992,992,M,45,Redmond,WA,USA,3,0,0,3,0,7,0,2,2,6
993,993,M,24,Redmond,WA,USA,3,0,7,2,3,8,1,10,1,6
994,994,F,23,San Francisco,CA,USA,0,8,4,5,0,5,7,0,0,7
995,995,M,29,Bellevue,WA,USA,3,0,1,8,1,8,0,6,2,7
996,996,F,24,Los Angeles,CA,USA,2,10,1,8,3,6,1,0,0,6
997,997,F,65,Kent,WA,USA,3,0,0,0,0,2,0,0,0,9
998,998,M,31,Irvine,CA,USA,2,0,5,4,2,7,1,9,3,9
999,999,F,50,San Diego,CA,USA,0,0,0,0,0,0,0,9,0,1

In [17]:
df_to_use = df[['gender', 'age', 'city', 'state', 'country', 'Size']]
def one_hot(data):
    for col_name in data.columns:
        if(data[col_name].dtype == 'object'):
            one_hot = pd.get_dummies(data[col_name])
            data.drop([col_name], axis = 1, inplace = True)
            data = data.join(one_hot)
    return data
df_to_use = one_hot(df_to_use)

C:\Users\zhs07\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [18]:
n_clusters_list = [5,10,20,50,100,200,300]
n_init_list = [10,15,20,30]
max_iter = 5000
init = 'k-means++'

best_model = None
best_Score = -float('Inf')

for n_clusters in n_clusters_list:
    for n_init in n_init_list:
        Model = KMeans(n_clusters = n_clusters, n_init = n_init, max_iter = max_iter, init = init)
        Model.fit(df_to_use)
        score = Model.score(df_to_use)
        
        if score > best_Score:
            best_Score = score
            best_model = Model

In [19]:
df['cluster'] = best_model.predict(df_to_use)
df_to_use['cluster'] = best_model.predict(df_to_use)

In [20]:
df[0:20]

,user_id,gender,age,city,state,country,Sweater,Dress,T_shirt,Shirt,Tank_top,Jacket,Crop_top,Suit,Vest,Size,cluster
0,0,F,57,San Jose,CA,USA,0,0,0,0,0,0,0,8,0,9,137
1,1,F,34,Bellevue,WA,USA,1,9,2,0,3,1,7,0,0,9,179
2,2,M,39,Seattle,WA,USA,3,0,5,8,2,6,1,9,1,9,52
3,3,M,48,Seattle,WA,USA,4,0,1,1,0,0,0,1,1,9,40
4,4,M,55,San Diego,CA,USA,0,0,0,0,0,0,0,1,0,9,19
5,5,M,67,Redmond,WA,USA,1,0,0,2,0,1,0,9,0,9,10
6,6,F,64,Issaquah,WA,USA,2,3,0,2,0,1,0,0,0,4,2
7,7,M,49,Issaquah,WA,USA,5,0,2,7,0,6,0,0,3,4,158
8,8,F,45,San Jose,CA,USA,2,7,0,2,3,3,0,0,0,9,169
9,9,F,49,San Francisco,CA,USA,2,0,2,2,3,0,0,0,0,7,221
10,10,F,55,Kent,WA,USA,0,0,0,0,0,0,0,0,0,5,191
11,11,M,62,San Diego,CA,USA,2,0,1,4,0,1,0,4,0,5,212
12,12,M,58,Irvine,CA,USA,0,0,0,0,0,0,0,4,0,5,235
13,13,M,41,San Francisco,CA,USA,0,0,1,10,0,5,0,9,4,5,226
14,14,F,23,San Jose,CA,USA,0,0,3,1,1,6,0,0,0,7,224
15,15,M,44,San Francisco,CA,USA,4,0,3,0,0,5,0,6,0,7,177
16,16,M,35,San Jose,CA,USA,2,0,3,9,0,10,0,1,2,7,163
17,17,F,57,Kent,WA,USA,0,0,0,0,0,0,0,1,0,3,215
18,18,M,42,Seattle,WA,USA,2,0,0,4,0,3,0,10,0,3,217
19,19,M,52,San Jose,CA,USA,0,0,0,0,0,0,0,10,0,3,202

In [21]:
df.to_csv(path_or_buf = 'Data.csv')